.card-container {
    background-color: white;
    max-width: 24rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--shadow-xl);
}

img {
    height: 300px;
    width: 100%;
}

.card-spacing {
    padding: 0.5rem;
    margin-left: 0.75;
}

.card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-gray-700);
}

.card-description {
    margin-bottom: 0.5rem;
    color: var(--color-gray-500);
    font-size: 1rem;
}

.card-price {
    margin-bottom: 0.5rem;
    color: var(--color-gray-600);
    font-size: 1rem;
}

.card-free {
    margin-bottom: 0.5rem;
    color: red;
    font-size: 1rem;
}

@media (max-width: 640px) {
    img {
        height: 180px;
    }
}
