.input-field-container {
    text-align: center;
}

.input-field {
    padding: 0.5rem;
    color: var(--color-gray-500);
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: var(--color-gray-300);
}
