.card-list-container {
    margin-bottom: 6rem;
}

h1 {
    font-size: 30px;
    color: var(--color-gray-700);
    font-weight: bold;
    margin-bottom: 1rem;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.not-available {
    color: var(--color-gray-500);
}

@media (min-width: 640px) {
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .cards-list {
        grid-template-columns: repeat(5, 1fr);
    }
}
